#!/usr/bin/make -f

export CARGO_HOME = $(CURDIR)/debian/cargo-home
export CARGO_TARGET_DIR = $(CURDIR)/target

%:
	dh $@

override_dh_auto_configure:
	:

override_dh_auto_build:
	cargo build --release --package ssh-tunnel-cli --package ssh-tunnel-daemon --package ssh-tunnel-gui

override_dh_auto_test:
	:

override_dh_auto_install:
	:
